<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="Source" value="DVLD"/>
		<add key="RegistryKeyPath" value="HKEY_CURRENT_USER\SOFTWARE\DVLD"/>
		<add key="RegistrySubKeyPath" value="SOFTWARE\DVLD"/>
		<add key="Version" value="1.0.0.0"/>
	</appSettings>
	<connectionStrings>
		<add name ="DVLD" connectionString="Server=.;Database=DVLD;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>
